@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-1: Poppins, sans-serif;
}


/*container*/

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/pipoca2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
     
}

/*area-de-login*/

.area-de-login{
    width: 80%;
    background-color: rgba(128, 128, 128, 0.707);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 10px;
}


/*img*/

.img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.img i{
    font-size: 4rem;
    background-color: white;
    color: #D0322C;
    border-radius: 100px;
    padding: .5rem;
}

.img h1{
    color: white;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 2rem;
}


/*usuario*/

.usuario{
    width: 100%;
    display: flex;
    flex-direction: column;
}
 
.usuario input{
    padding: 1rem;
    margin: 1rem;
    font-weight: 400;
    font-family: var(--font-1);
    font-size: 1rem;
    border-radius: 15px;
    border-style: none;
}

.usuario #logar{
    width: 40%;
    margin: 0 auto 1rem auto;
    font-size: 2rem;
    padding: 15px;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    background-color: tomato;
}

.usuario #logar:hover{
    color: white;
    background-color: teal;
}


/*usuario-int*/

.usuario-int{
    display: flex;
    padding: 10px;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-around;
    font-family: var(--font-1);
    font-weight: bolder;
}

.usuario-int label:hover{
    color: white;
}

.usuario-int a{
    text-decoration: none;
    color: black;
}

.usuario-int a:hover{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:360px){

    /*area-de-login*/

    .area-de-login{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
     }

     /*img*/

     .img i{
        font-size: 4rem;
    }

    .usuario-int{
        flex-direction: column;
    }

}